<md-card>
    <md-card-title class="title">FAQ</md-card-title>
    <span layout="row"><hr flex/></span>
    <h3 class="head">
        # What is ANIDANIEL?</h3>
    <p>

        We are building and researching on AI service model which can be implemented under almost all technology which uses internet for connectivity.
    </p>
    <p>
        As our CEO & Founder of Anidaniel says, “Building a new world”. We are currently working on it with the help of Artificial Intelligence which will evolve into near to perfect machine intelligence (not dangerous though).
    </p>
    <p>
        Which will help us to reach our goal for helping the people all over the globe for a better living and sustainable growth.
    </p>

    <h3 class="head"># Why ANIDANIEL?</h3>
    <p>
        There are many AI based research sector(s) or companies right now in all over the world, where some are of running right now by tech giants or being solely ground base for a startup companies like us
    </p>
    <p>
        Our main focus is for developing a unique approach of using machine intelligence and integrate it with existing platforms and devices e.g., integration of AI with IoT devices which works over cloud.
    </p>


    <h3 class="head"># Why artificial intelligence is the future of growth?</h3>
    <p>According to the research published by Accenture, Artificial Intelligence (AI) has the potential to double the GDP growth rates of 12 developed economies by 2035. The recent study, also found that AI could significantly boost labor productivity- by
        up to 40pc in some cases.</p>
    <p>The underlying principle of AI is that computer systems perform tasks that previously required human intelligence. By taking mundane, routine activities away from workers, it frees up their time so they can create, innovate and wrestle with complex
        challenges instead.</p>
    <p>AI has the potential to develop and transform the workplace across almost any sector, we are still some way from seeing the realization of that potential. AI can create a whole new environment for ourselves to live in.</p>
    <h3 class="head"># What we do at ANIDANIEL?</h3>
    <p>Well, we are currently working on developing cognitive solutions for the technological sector in IT industry.
    </p>
    <p>We have created a prototype model based on neural network which uses machine learning and deep learning which can be integrated into systems or used as an API to enhance the working capability of your specific technology.</p>
    <p></p>
</md-card>