md-grid-tile {
    margin-top: 50px;
    background-color: #eeeeee;
}

h1 {
    text-align: center;
    font-size: 14px;
}

a {
    color: #263238;
    font-family: 'Roboto' serif;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}