<md-grid-list cols="1" rowHeight="fit" role="list">
    <md-grid-tile class="mat-elevation-z7">


        <md-card class="mat-elevation-z7-none">
            <h1 style="text-align:center;">
                <svg class="img-responsive" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1500 1500" style="enable-background:new 0 0 1500 1500;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:#ffffff;}
                </style>
                <g>
                  <path class="st0" d="M114.6,1349c-7,0-14.1-1.8-20.6-5.5c-19.7-11.4-26.5-36.6-15.1-56.3L734.9,151L1426.6,1349H353.4l381.6-660.9
                    l256.4,444c11.4,19.7,4.6,44.9-15.1,56.3c-19.7,11.4-44.9,4.6-56.3-15.1L734.9,853.1l-238.7,413.5h787.6L734.9,315.9L150.3,1328.4
                    C142.7,1341.6,128.8,1349,114.6,1349z"/>
                </g>
                </svg>

                <md-card-title class="title">
                    Anidaniel.com
                </md-card-title>
                <h5 class="quote"> Building a new world &nbsp; | &nbsp; 新しい世界を築く </h5>

                <span layout="row"><hr flex/></span>


                <md-card-content>
                    <p class="para">
                        We are working on better implementation of Artificial Intelligence and use it to tackle modern complex problems in technological industries and daily lives of people. By using our research knowledge of machine learning and deep learning we are trying
                        to create a platform for better usability of AI in a positive manner. We believe that machine intelligence can surpass human intelligence and our way of doing things in drastic way. AI enables us to not AI is also a fundamental
                        part of the concept of the Internet of Things – a place where machine and devices all communicate with each other through certain algorithm and networking, leaving us to relax and enjoy life.
                    </p>



                </md-card-content>
            </h1>
            <md-card class="mat-elevation-z7-none">
                <h1 style="text-align:center;">
                    <md-card-title class="core">Founder & CEO</md-card-title>
                    <span layout="row"><hr flex/></span>
                    <a href="https://linkedin.com/in/anidanielinc"><img md-card-lg-image src="assets/images/ani.jpg"></a>
                    <md-card-title>
                        <h5 class="title-ani">Founder & CEO , Anidaniel, Inc.</h5>
                    </md-card-title>
                    <md-card-content>
                        Well, hello my name is Aniruddha Prasad. <br> I’m a full stack developer and programmer, I have worked on many cloud computing platform(s) and have deep knowledge on Big Data analytics. <br> Currently working up on Artificial Intelligence
                        field as I’m having a vision of creating a new future which will be leading humans with machine intelligence. <br>We at “Anidaniel” are trying our best to make this vision as reality day by day.
                    </md-card-content>
                    <span layout="row"><hr flex/></span>


                    <a href="https://facebook.com/anidaniel.01" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://linkedin.com/in/anidanielinc" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/anidaniel007" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/anidaniel007" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/anidaniel" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </h1>


            </md-card>

        </md-card>


    </md-grid-tile>

</md-grid-list>