<md-grid-list cols="1" rowHeight="100">
    <md-grid-tile class="mat-eevation-z7">
        <a routerLink="/home">
            <svg class="img-responsive" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1500 1500" style="enable-background:new 0 0 1500 1500;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#ffffff;}
                  </style>
                  <g>
                    <path class="st0" d="M114.6,1349c-7,0-14.1-1.8-20.6-5.5c-19.7-11.4-26.5-36.6-15.1-56.3L734.9,151L1426.6,1349H353.4l381.6-660.9
                      l256.4,444c11.4,19.7,4.6,44.9-15.1,56.3c-19.7,11.4-44.9,4.6-56.3-15.1L734.9,853.1l-238.7,413.5h787.6L734.9,315.9L150.3,1328.4
                      C142.7,1341.6,128.8,1349,114.6,1349z"/>
                  </g>
                  </svg>

        </a>


    </md-grid-tile>

</md-grid-list>
<app-navbar></app-navbar>