<md-card>
    <md-card-title class="title">PROJECTS</md-card-title>
    <span layout="row"><hr flex/></span>
    <h1 class="head">1. F_VISUAL PERCEPTION / HYOUKA :</h1>
    <p>
        We are currently trying to develop a mobile facial recognition software/platform using image classifier which will be working on with most accuracy without using any extra specific hardware dedicated for the work.

    </p>

    <h3 class="head">2. NENCRIPTO :</h3>
    <p>For better and secure chain transactions of money and data, we are developing an AI based algorithm which will be more secure than any other transferring data algorithm right now.</p>


</md-card>