<md-grid-list cols="1" rowHeight="550px">
    <md-grid-tile>
        <md-card class="mat-elevation-z7">
            <h1 style="text-align:center;">


                <md-card-title>
                    <h1 class="title">Anidaniel, Inc.</h1>
                </md-card-title>


                <div id="box">
                    <!-- <md-icon id="icon">location_on</md-icon>-->
                    <md-card-content class="location">
                        <br> Kattigenahalli,Yelahanka
                        <br>Karnataka
                        <br> Bangalore - 560064.

                    </md-card-content>
                </div>
                <span layout="row"><hr flex/></span>


                <a href="https://facebook.com/anidaniel.01" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/13299410/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://instagram.com/anidaniel007" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/anidaniel007" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://github.com/anidaniel" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>



            </h1>


        </md-card>
    </md-grid-tile>

</md-grid-list>