<md-grid-list cols="1" rowHeight="fit" class="mat-elevation-z7">
    <section class="psect  pbanner icover">
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>

        <h1>
            <span class=" title">{{ title }}<br>
              <span class="quote">{{ quote }}</span><br>
            </span>
        </h1>
        <button class="no" md-raised-button routerLink="/about">About Us</button>

    </section>
</md-grid-list>
<!---
<md-grid-list cols="1" rowHeight="fit">
    <section class="psect bblue pbanner icover coverdark" style="background-image: url(../assets/images/cover2.png);">
        <div class="pwrap vcenter">
            <h1>
                <span class="light big">{{ title }}<br><span class="small">{{ subtitle }}</span></span>
            </h1>
            <button class="no" md-raised-button>About Us</button>
        </div>
    </section>
</md-grid-list>


<div class="container">

    <div class="row">
        <div class="col-xs-12">

            <img class="img-responsive" src="../assets/images/cover2.png" alt="">

        </div>

    </div>
</div>

<md-grid-list cols="1" rowHeight="400">
    <md-grid-tile>
        <div class="col-xs-12">
            <img class="img-responsive" src="../assets/images/cover1.png" alt="cover">
        </div>


    </md-grid-tile>
</md-grid-list>

-->