<app-cover></app-cover>
<md-grid-list rowHeight="fit" cols="2" gutterSize="50px">
    <md-grid-tile class="mat-elevation-z7">
        <div class="center">
            <h2>Who are we?</h2>
            <p>We are working on better implementation of Artificial Intelligence and use it to tackle modern complex problems in technological industries and daily lives of people. By using our research knowledge of machine learning and deep learning we
                are trying to create a platform for better usability of AI in a positive manner.</p>
            <button class="btn" md-raised-button routerLink="/about">Read More</button>

        </div>

    </md-grid-tile>
    <md-grid-tile class="mat-elevation-z7">
        <div class="center">
            <h2>Why AI ?</h2>
            <p>We believe that machine intelligence can surpass human intelligence and our way of doing things in drastic way. AI enables us to not AI is also a fundamental part of the concept of the Internet of Things – a place where machine and devices
                all communicate with each other through certain algorithm and networking, leaving us to relax and enjoy life.</p>
            <button class="btn" md-raised-button routerLink="/faq">Read More</button>
        </div>
    </md-grid-tile>


</md-grid-list>

<md-grid-list class="intro" cols="1" rowHeight="400px">
    <section>

        <md-grid-tile class="mat-elevation-z7">
            <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/A17K1ENayE0?rel=0" frameborder="0" allowfullscreen></iframe>
        </md-grid-tile>
    </section>


</md-grid-list>